[submodule "Q1"]
	path = Q1
	url = https://github.com/AiMlxV/Q1.git
[submodule "Q2"]
	path = Q2
	url = https://github.com/AiMlxV/Q2.git
[submodule "Q3"]
	path = Q3
	url = https://github.com/AiMlxV/Q3.git
[submodule "Q4"]
	path = Q4
	url = https://github.com/AiMlxV/Q4.git
